$primary-background: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
}

header {
  background-color: #ff9900;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 30%;
}
